<!-- End footer top area -->

<div class="container-fluid one">
  <footer>
    <div class="row mb-4 footer-top-area">
      <div class="col-md-3 col-sm-6 mb-3">
        <h2 class="ustara">u<span>Stora</span></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
          sunt id doloribus vero quam laborum quas alias dolores blanditiis
          iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam
          iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum
          commodi veritatis magni at?
        </p>
        <div class="footer-social">
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
          <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 mb-3">
        <h2>User Navigation</h2>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">My account</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Order history</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Wishlist</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Vendor contact</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Front page</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 mb-3">
        <div class="footer-menu">
          <h2>Categories</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary"
                >Mobile Phone</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary"
                >Home accesseries</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">LED TV</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Computer</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Gadets</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 mb-3 four">
        <form>
          <h2>Newsletter</h2>
          <p>
            Sign up to our newsletter and get exclusive deals you wont find
            anywhere else straight to your inbox!
          </p>
          <div class="d-flex flex-column w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"
              >Email address</label
            >
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Type your email"
            />
            <button class="btn btn-primary" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </footer>

  <div
    class="footer-bottom-area container-fluid two d-flex justify-content-between px-5 pt-2 pb-5"
  >
    <div class="col-md-5">
      <p>
        &copy; 2015 uCommerce. All Rights Reserved.
        <a target="_blank" href="https://freshdesignweb.com/" id="website"
          >freshDesignweb.com</a
        >
      </p>
    </div>
    <div
      class="purchaseIcons col-md-3 d-flex align-items-center justify-content-between"
    >
      <i class="fa fa-cc-discover fa-2x"></i>
      <i class="fa fa-cc-mastercard fa-2x"></i>
      <i class="fa fa-cc-paypal fa-2x"></i>
      <i class="fa fa-cc-visa fa-2x"></i>
    </div>
  </div>
</div>
