<p-carousel class="carouselCContainer" [value]="carousel" [numVisible]="1" [numScroll]="1">
    <ng-template let-carousel pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img [src]="carousel.imageUrl" [alt]="carousel.imageName" class="product-image" />
                </div>
                <div class="header">
                    <h4 class="mb-1">{{ carousel.header }}</h4>
                    <h5 >{{carousel.paragraph}}</h5>
                </div>
            </div>
        </div>
    </ng-template>

</p-carousel>
