

li:hover{
    background: #5a88ca; 
    cursor: pointer;
}

li:hover a {
    color:#FFF;

}
li a{
    color: #6e6a6a;
    font-size: 14px;
    padding: 20px;
    margin: 0 10px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.navbar,.container,li{
    height: 60px;
}
a {
    padding: unset;
}
/* .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    overflow: auto;
    height: 60px; 

  } */
  
  /* Style for the list items inside the navbar */
  /* .navbar-nav {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0;
  }
   */